.app-screen-container {
    transform: scale(1); /* Use this one for responsivity */
  }

.svg-container {
    transition: all 1000ms cubic-bezier(0.5,0,0.2,1);
    opacity: 0;
    transition-delay: 0ms;
  }

  .tokens {
    transform: translateX(100%);
  }
  
  .editor {
    transform: translateX(-100%);
  }
  
  .active {
    transform: translateX(0px);
    opacity: 1;
    transition-delay: 80ms;
  }
  
  .gradient1 {
    position: absolute;
    width: 1000px;
    height: 1000px;
    right: -250px;
    bottom: -250px;
    opacity: 0.12;
    background: radial-gradient(
      50% 50% at 50% 50%,
      #7000ff 0%,
      rgba(112, 0, 255, 0) 100%
    );
  }
  
  .gradient2 {
    position: absolute;
    width: 1000px;
    height: 1000px;
    left: -250px;
    top: -250px;
    opacity: 0.12;
    background: radial-gradient(
      50% 50% at 50% 50%,
      #00ffc2 0%,
      rgba(0, 255, 194, 0) 100%
    );
  }
  
  .gradient3 {
    position: absolute;
    width: 240px;
    height: 100%;
    left: 0px;
    opacity: 0.04;
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }